<tr>
    <td>
        <images url="band.name | PatchImage"></images>
    </td>
    <td>
    <a ng-href = "#/band/{{ band.id }}/detail"> {{ band.name }} </a>
    </td>
    <td>{{ band.origin }}</td>
    <td>
        <p  ng-repeat="member in band.members | orderBy : 'name'" ><wikipedia name='member.name'></wikipedia></p>
    </td>

    <td>
        <span favorite-item id-entity="{{ band.id }}", entity="{{ 'band' }}"></span>
    </td>

    <td>
        <span ranking-item id-entity="{{ band.id }}", entity="{{ 'band' }}" ></span>
    </td>

</tr>
